/* live2d */
#live2dcanvas {
  border: 0 !important;
}

/* 主题部分 */
body {
  display: flex;
  margin: 0;
  min-height: 100vh;
  color: #fff;
  user-select: none;
}

.scalable {
  position: relative;
  background-color: #2D2E2E;
  min-width: 250px;
  max-width: 350px;
}

@media screen and (max-width: 900px) {
  .scalable {
    display: none;
  }
}

/* 登录入口 */
.scalable .user-btn {
  box-sizing: border-box;
  width: 100%;
  height: 75px;
  text-align: center;
  line-height: 75px;
  font-size: 25px;
}

.scalable .user-btn:hover {
  background-color: #939393;
}


/* 清单管理部分 */
.scalable .lists li {
  width: 100%;
  height: 50px;
  position: relative;
  box-sizing: border-box;
  color: #788CDE;
}

.scalable .lists li i {
  display: none;
  position: absolute;
  top: 8px;
  left: 20px;
  font-size: 23px;
}

.scalable .lists li span {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
}

.scalable .lists .current {
  background-color: #27282D;
}

.scalable .lists .current i {
  display: inline-block;

}

.scalable .create-list {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 50px;
  width: 80%;
  height: 50px;
  border-radius: 20px;
  outline: none;
  border: none;
  background-color: #8D9DDF;
  cursor: pointer;
}

.scalable .separator {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background-color: transparent;
  cursor: col-resize;
}


/*  账户管理部分  */
.user-control {
  display: none;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  min-height: 200px;
  background-color: #242426;
  border: 1px solid #3C3C42;
  border-radius: 10px;
  overflow: hidden;
}

.user-control .title {
  width: 100px;
  text-align: center;
  margin: 10px auto;
  font-weight: 600;
}

.user-control .zhanghu li,
.user-control .add-user {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  padding-left: 20px;
  width: 100%;
  height: 50px;
  color: #D9D9D9;
}

.user-control .zhanghu li:hover,
.user-control .add-user:hover {
  background-color: #292929;
}

.user-control .add-user i {
  display: inline-block;
  margin: -5px 10px 0 0;
  font-size: 35px;
  font-weight: 300;
}

.user-control .zhanghu li span,
.user-control .control-close {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 80px;
  height: 30px;
  background-color: #B11100;
}

.user-control .zhanghu li span {
  position: absolute;
  right: 20px;
}

.user-control .control-close {
  margin: 10px 0 10px 200px;
  background-color: #000;
}

.user-control .zhanghu li span:hover,
.user-control .control-close:hover {
  border: 1px solid #ccc;
}

/* 登录注册框 */
.logon-sign {
  /* display: none; */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 450px;
  background-color: #5261A0;
}

.logon-sign .close {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 25px;
  cursor: pointer;
}

.logon-sign .title {
  margin: 50px 0 50px 0;
  font-size: 30px;
  font-weight: 600;
}

.logon-sign .zhanghao,
.logon-sign .mima {
  outline: none;
  border: none;
  box-sizing: border-box;
  padding-left: 20px;
  margin-top: 20px;
  width: 80%;
  height: 35px;
  background-color: transparent;
  border-bottom: 1px solid #ccc;
  color: #fff;
  font-size: 18px;
}

input::-webkit-input-placeholder {
  color: #fff;
  font-size: 18px;
}

.logon-sign .logon {
  position: absolute;
  bottom: 145px;
  right: 50px;
  cursor: pointer;
}

.logon-sign .sign-in {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  width: 80%;
  height: 50px;
  background-color: #313B66;
  cursor: pointer;
}

.logon-sign .mes {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 50px;
  background-color: #3C3C42;
}

/* 右边部分 */
.main {
  padding: 20px;
  flex: 1;
  background-color: #1A1B1C;
}

.main h2 {
  font-family: "fm";
  text-align: center;
  font-size: 40px;
  font-weight: 400;
}

.main .nowlist-title {
  font-size: 35px;
  color: #788CDE;
}